<footer class="main-footer">
    <div class="footer-left">
        Copyright &copy; Dinsos Bangli 2020 <div class="bullet"></div> Developed by <a href="">
            Marta DKK</a>
    </div>
    <div class="footer-right">
        2.3.0
    </div>
</footer>