<div class="modal fade" tabindex="-1" role="dialog" id="delete-disabilitas">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/user/disabilitas?_method=DELETE" method="POST">
            <div class="modal-body">
                <p>Anda yakin ingin menghapus data ini?</p>
                <input type="text" class="id" name="id">
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>