<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" id="add-lansia">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Data Lansia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/user/lansia" method="POST" id="myForm" enctype="multipart/form-data">
                <div class="modal-body container">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">Nama Lengkap</label>
                            <input type="text" class="form-control" onfocusout="validateName()" id="name" name="name"
                                placeholder="masukkan nama">
                            <span class="invalid-feedback"></span>

                        </div>
                        <div class="form-group col-md-5">
                            <label for="nik">NIK</label>
                            <input type="number" class="form-control" onfocusout="validateNIK()" id="nik" name="nik"
                                placeholder="masukkan NIK">
                            <span class="invalid-feedback"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <Tempat for="placeOfBirth">Tempat Lahir</label>
                                <input type="text" class="form-control" name="placeOfBirth" id="placeOfBirth"
                                    placeholder="masukkan tempat kelahiran" onfocusout="validatePlace()">
                                <span class="invalid-feedback"></span>

                        </div>
                        <div class="form-group col-md-2">
                            <label for="dateOfbirth">Tanggal Lahir</label>
                            <input type="date" class="form-control" onchange="calculateAge('age','dateOfbirth')"
                                id="dateOfbirth" onfocusout="validateDate()" name="dateOfbirth">
                            <span class="invalid-feedback"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="address">Alamat Tinggal</label>
                            <textarea class="form-control" name="address" onfocusout="validateAddress()" id="address"
                                cols="30" rows="10"></textarea>
                            <span class="invalid-feedback"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="age">Umur</label>
                            <input type="number" disabled class="form-control age" id="age" name="age">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="village">Desa</label>
                            <select id="village" class="form-control" name="villageId" onfocusout="validateVillage()">
                                <option>...Pilih Desa...</option>
                                <% for(let i= 0; i < villages.length; i++){ %>
                                <option value="<%= villages[i].id %>"><%= villages[i].name %></option>
                                <% } %>
                            </select>
                            <span class="invalid-feedback"></span>
                        </div>
                        <div class="form-group col-md-6 mt-4">
                            <input type="file" class="custom-file-input" id="picture" name="image">
                            <label class="custom-file-label" for="validatedCustomFile">Pilih gambar</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-whitesmoke ">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

</script>